/* .titulo{
    margin-top: 1rem;
    text-align: center;
    color: #fdfdfd;
    font-size: 2rem;
    font-weight: bold;
}

.titulo h3{
    font-size: 2.4rem;
}

.card{
    width: 300px;
    height: auto;
    background-color: rgb(249, 249, 246);
    opacity: 0.9;
    border-radius: 5px;
    margin:  1rem;
    display: flex;
    flex-direction: column;
}


.imagen{
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

.card_info{
    line-height: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #7d7507;
    opacity: 1;
    padding: 1rem;
}

.precio{
    font-size: 1rem;
    font-weight: bold;
}

.descripcion{
    font-weight: 500;
    color:  #7d7507;
    justify-content: auto;
    object-fit: cover;
    margin-bottom: 10px;
}


.button{
    width: 90%;
    margin-top: 1rem;
    padding: .5rem;
    border: 2px solid #4caa80;
    background-color: rgb(46, 8, 46);
    border-radius: 5px;
    color: #fdfdfd;
    transition: .5s all;
}

.button:hover{
    border: 2px solid #358662;
    background-color: #358662;
} */


.flipcard {
    
    background-color: transparent;
    width: 260px;
    height: 320px;
    perspective: 1000px;
    font-family: sans-serif;
    margin: 20px;
  }
  
  /* .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  } */
  
  .flipcardinner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    transition: transform 1.2s;
    transform-style: preserve-3d;
  }
  
  .flipcard:hover .flipcardinner {
    transform: rotateY(180deg);
  }
  
  .flipcardfront, .flipcardback {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid none;
    border-radius: 1rem;
  }
  
  .flipcardfront {
    background-color: rgb(238, 234, 241);
    color:  #fde2ec;
  }
  
  
  .flipcardback {
    /* background: linear-gradient(120deg, rgb(255, 174, 145) 30%, coral 88%,
       bisque 40%, rgb(255, 185, 160) 78%); */
    background-color: rgb(238, 234, 241);
    color:  #bbbbbb;
    transform: rotateY(180deg);    
  }
  .imagen{
    width: 260px;
    height: 320px;
    border-radius: 1rem;
    
}

.flipcardback img{
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin-left:  85px;
  margin-top: 2px;
  /* position: absolute;
  margin-left:  85px;
  margin-bottom: 240px; */
}