.todo{

  display: flex;
  justify-content: center;
  flex-direction: column;
}
.buscador{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
}
.contenedor{
    text-align: center;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.razas{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin: 0px 20px 20px;
    
}
.s{
    margin: 20px;
}

.wrapper {
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 100%;
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
  }
  
  .wrapper .icon {
    position: relative;
    background: rgb(213, 202, 223);
    color: #FFF;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .icon:hover,
  .wrapper .icon:hover .tooltip,
  .wrapper .icon:hover .tooltip::before {
    background: rgb(249, 249, 249);
    color:rgb(213, 202, 223);
  }
  
  .cambio{
    width: 100%;
    display: flex;
    margin: left 20px;
    justify-content: center;
    margin-right: 35px;
  }
  .lograndolo{
    width: 33%;
    display: flex;
    justify-content: center;
  }
  .ordena{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .buscadore{
    display: flex;
    flex-direction: row;
  }
  .busca{
    width: 33%;
    align-items: center;
    display: flex;
    flex-direction: row;
  }
  .busca input{
    margin-right: -15px;
    border: none;
    background-color: #fdfdfde3;
    border-bottom: 1px solid rgb(213, 202, 223);
    color: rgb(50, 22, 76);
    outline: none;
    padding: 9px;
    width: 40%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: medium;
  }

.checkradio{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300;
  color: rgb(76, 22, 70);
  justify-content: center;
}
  

.ordena button{
  border: 3px solid rgb(213, 202, 223);
  background-color: #fff;
  color: rgb(76, 22, 70);
  padding: 8px;
  width: 100px;
  margin: 0px;
  border-radius: 5%;
  cursor: pointer;
  transition: .5s all;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  font-size:small;
}

.ordena button:hover{
  border: 2px solid rgb(213, 202, 223);
  background-color: rgb(213, 202, 223);
  color: rgb(76, 22, 70);
}


.inputas {
  margin: 20px;
} 


@media screen and (max-width:800px){

  .buscadore{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -270px;
  }
  .ordena{
    visibility: collapse;
  }
  .busca{
    visibility: collapse;
  }
}