.contenedor{
    text-align: center;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ventas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    
}
.s{
    margin: 20px;
}
