.pocicion{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor_formulario h2{
    color: #939393;
}
.contenedor{
    width: 900px;
    height: 65vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* background-color: rgb(213, 202, 223); */
}
.contenedor_tarjeta{
    width: 100%;
    display: flex;
    justify-content: center;

}
.contenedor_formulario{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(238, 234, 241);
    border-radius: 10px;
    flex-direction: column;
}
.busca{
    display: flex;
    width: 100%;
    justify-content: center;
} 
.busca input{
    margin: 0px 15px;
    border: none;
    background-color: #fdfdfde3;
    border-bottom: 1px solid rgb(213, 202, 223);
    border-radius: 20px;
    color: rgb(50, 22, 76);
    outline: none;
    padding: 9px;
    width: 120px;
    height: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: medium;
}
.busca label,
.busca p{
    color: #939393;

}
.busca button{
    border: none;
  background-color: #fff;
  color: #939393;
  padding: 0px;
  width: 80px;
  height: 30px;
  margin: 0px 15px;
  border-radius: 10%;
  cursor: pointer;
  transition: .5s all;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  font-size:small;
}
.busca button:hover{
    border: 2px solid rgb(213, 202, 223);
    background-color: rgb(213, 202, 223);
    color: #939393;
}
  
.danger input{
    margin: 0px 15px;
    border: none;
    background-color: #fdfdfde3;
    border-bottom: 3px solid rgb(255, 0, 0);
    border-radius: 20px;
    color: rgb(255, 0, 0);
    outline: none;
    padding: 9px;
    width: 120px;
    height: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: medium;
}

.errores{
    background-color: #fff;
    border-radius: 10px;
    width: 320px;
    padding: 50px;
    display: flex ;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    color: red;
    font-weight: 700;
}

.botontemp button{
    width: 100px;
    height: 35px;
}
.display select{
    background-color: none;
    border: none;
    color: #939393;
}

@media screen and (max-width:800px){
    .pocicion{
        width: 100%;
        height: 1000px;
        display: flex;
        justify-content: center;

    }
    .contenedor{
        width: 900px;
        height: 200px;
        display: flex;
        justify-content: center;
        
        flex-direction:column-reverse;
    }
    .contenedor_formulario{
        margin: 0px,20px;
    }
    .contenedor_tarjeta{
        margin-bottom: 80px;
    }
    .busca button{
        margin-bottom: 20px;
    }
  }